Repository 506-FETL/one-question-per-day, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Dc9309, @xiersiki, @pcppp, @SeaMmMm, @wang-danni, @notshine

docs(contributor): contrib-readme-action has updated readme
  README.md
Owners: none

docs(contributor): contrib-readme-action has updated readme
  README.md
Owners: none

docs(contributor): contrib-readme-action has updated readme
  README.md
Owners: none

docs(contributor): contrib-readme-action has updated readme
  README.md
Owners: none

feat:promise.then(()=>console.log(done!!!))
  src/gcy/04.29/middle_ware.js
  src/pc/Day 07/middle_ware.js
  src/pc/Day 08/MyPromise.js
  src/pc/Day 08/MyPromise.spec.js
Owners: @xiersiki, @pcppp

feat:完成promise的实现
  src/gcy/Day 06/README.md
  src/gcy/Day 06/middle_ware.js
  src/gcy/Day 06/middle_ware.spec.js
  src/gcy/Day 07/MyPromise.js
  src/gcy/Day 07/MyPromise.spec.js
  src/gcy/Day 07/README.md
  src/gcy/Day 07/test.js
Owners: @xiersiki

fix:删除了console测试代码
  src/gcy/Day 07/MyPromise.js
Owners: @xiersiki

fix:运行pnpm run dev 格式化代码
  src/gcy/Day 06/middle_ware.js
  src/gcy/Day 07/MyPromise.js
  src/gcy/Day 07/test.js
Owners: @xiersiki

.github/CODEOWNERS:

# 个人
src/dc/   @Dc9309
src/gcy/  @xiersiki
src/pc/   @pcppp
src/seam/ @SeaMmMm
src/sdn/  @wang-danni
src/pl    @notshine
